@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Titillium+Web&display=swap');

/* resets */

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #D7D7D7;
}
/* utilities class */
/* container gap-10 my-15 t-white btn t-center fb */
/* profile-image */
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 0;
}

.flex {
    display: flex;
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.my-15 {
    margin: 15px 0;
}
.t-white {
    color: #fff;
}

.btn {
    text-decoration: none;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.t-center {
    text-align: center;
}

.fb {
    font-weight: 600;
}

.profile-image {
    width: 25px;
    height: 25px;
}

.form-control {
    width: 90%;
}
/* end utilities */
/* main index header */


nav {
    width: 100%;
    background-color: #00B2CB;
    position: fixed;
    z-index: 12;
}

nav .container {
    justify-content: space-between;
    padding: 10px;
}

.logo {
    width: 80px;
    height: 60px;
    margin-right: 30px;
}

.logo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
ul.flex {
    gap: 10px;
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.btn.btn-login {
    background-color: #2BD0C0;
}

button.btn-2490  {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a.btn.btn-register {
    background-color: #1794C6;
}

/* hero  */

#home {
    width: 100%;
    height: 50vh;
}

#home img {
    width: 100%;
    height: 100%;
}

/* about us */

.left,
.right {
    width: calc(50% - 10px);
}


.left video {
    width: 90%;
    height: 350px;
}

.right h2 {
    margin-bottom: 15px;

}


/* login form start */
.logoinform {
    position: absolute;
    left: -150%;
    transform: translate(-50%, -50%);
    background-color: #fff ;
    padding: 15px;
    box-shadow: 1px 1px 15px #565656;
    border-radius: 5px;
    z-index: 12334;

    top: 50%;
    opacity: 0;
    transition: top 200ms ease-in-out,
                opacity 200ms ease-in-out;
}

.logoin-active {
    left: 50%;
    opacity: 1;
}

.form-title {
    color:#0064B2;
    text-align: center;
    margin-bottom: 10px;
}

.description {
    color: #ACACAC;
    margin: 15px 0;
}

.form-group {
    border: 0.5px solid black;
    border-radius: 7px;
    padding: 7px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group  input,
.form-group  select option {
    border: none;
    outline: none;
    background-color: transparent;
}
.icon {
    width: 15px;
    height: 15px;
}

#crosse-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.form-btn {
    width: 100%;
    background: linear-gradient(to right, #0064B2, #2A888E);
    border: none;
    outline: none;
    padding: 9px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.select-tag{
    width: 100%;
    border: none;
    outline: none;
}
/* login form end */

/* registration form */

.registration-form {
    max-width: 500px;
    margin: 15px auto;

}

.alert {
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    justify-content: space-between;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
  }

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
  }

#hide-session {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* footer */

footer {
    margin-bottom: 0;

}